#profile-setting {
    height: 100vh;
    background-color: #3C3F51;
    border-radius: 50px 0px 0px 50px;
    padding-left: 70px;
    padding-right: 40px;
    padding-top: 20px;
    overflow: auto;
    padding-bottom: 50px;
}

.settings-btn {
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 20px;
}