#upload-post {
    height: 100vh;
    background-color: #3C3F51;
    border-radius: 50px 0px 0px 50px;
    padding-left: 70px;
    padding-right: 40px;
    padding-top: 20px;
}

#preview-img {
    max-width: 550px;
    max-height: 500px;
    margin: auto;
}

.image-picker-btn {
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px;
    border: 5px solid darkblue;
    border-radius: 10px;
}